# Python specific ignores
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python/

# Virtual environments
venv/
.venv/
env/
.env/
*venv*
chat_venv/

# PyCharm specific ignores
.idea/
*.iml
*.ipr
*.iws
/.idea/workspace.xml # Specific PyCharm workspace file
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml

# Operating System files
.DS_Store
Thumbs.db

# Database and Data files
chroma_db/
data.json
backend/data/*.csv
backend/data/*.json

# Runtime
.pids/
